<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="profile/<%=userID%>">내 프로필</a>
    <h1><%= title %></h1>
    <a href="write">글쓰기</a><br>
    <% if (board != null)
    {
        for(var i = board.length - 1; i >= 0; i--)
        {%>
            <a href="/board/<%=board[i]._id%>">
                <h3><%= board[i].author %> - <%=board[i].title%></h3>
            </a>
        <%}
    }%>
</body>

</html>